.slap{
    box-shadow: rgba(240, 46, 46, 0.4) -5px 5px, rgba(240, 46, 46, 0.3) -10px 10px, rgba(240, 46, 46, 0.2) -15px 15px, rgba(240, 46, 46, 0.1) -20px 20px, rgba(240, 46, 46, 0.05) -25px 25px;
    height: 328px;
     width:600px;
     border: red solid 5px;
}
   .blob{
                          background-image: url(hamburger.png);
                      }
.thing{
  display: none;
}
::-webkit-scrollbar{
    display: none;
}

      body{
        background:#b87333;
      }
     